[Unit]
Description=prox backend

[Service]
WorkingDirectory=/home/prox/prox-server
ExecStart=/home/prox/prox-server/env/bin/gunicorn main:app
Restart=always
User=prox
Group=prox

[Install]
WantedBy=multi-user.target
